* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1400px;
    display: block;
    margin: auto;
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background: #1a1a1a;
}

.link {
    &-group {
        list-style: none;
        display: flex;
    }
    a {
        color: #fff;
        opacity: 0.5;
        text-decoration: none;
        text-transform: capitalize;
        padding: 10px 30px;
        margin: 0 20px;
        line-height: 80px;
        transition: .5s;
        font-size: 20px;
    }
    a:hover,
    &.active a {
        opacity: 1;
    }
}


/* skills */

.heading {
    text-align: center;
    font-size: 60px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-bottom: 100px;
}

.skill {
    &-section_show {
        position: relative;
        margin: 100px 0;
        opacity: 1;
    }
    &-section {
        position: relative;
        margin: 100px 0;
        opacity: 0;
    }
    &-container {
        width: 95%;
        margin: auto;
        display: block;
        @media screen and (min-width: 900px) {
            display: grid;
        }
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 100px;
        color: #fff;
    }
    &-card {
        position: relative;
    }
    &-img {
        display: block;
        margin: auto;
        height: 200px;
    }
    &-name {
        font-size: 30px;
        font-weight: 300;
        text-align: center;
        text-transform: capitalize;
        margin: 30px 0 20px;
    }
    &-info {
        text-align: center;
        opacity: 0.5;
        font-size: 18px;
        line-height: 30px;
    }
    &-level {
        position: absolute;
        top: 80px;
        right: 0;
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        border-radius: 50%;
        border: 10px solid;
    }
    &-card:nth-child(1) &-level {
        background: #ff4f4f28;
        border-color: #ff4f4f;
        color: #ff4f4f;
    }
    &-card:nth-child(2) &-level {
        background: #4fa0ff28;
        border-color: #4fa0ff;
        color: #4fa0ff;
    }
    &-card:nth-child(3) &-level {
        background: #ffed4f28;
        border-color: #ffed4f;
        color: #ffed4f;
    }
    &-card:nth-child(4) &-level {
        background: #52ff4f28;
        border-color: #52ff4f;
        color: #52ff4f;
    }
    &-card:nth-child(5) &-level {
        background: #4fdfff28;
        border-color: #4fdfff;
        color: #4fdfff;
    }
}

///
///
.home {
    &-section {
        width: 100%;
        height: 100vh;
        padding: 0 150px;
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        opacity: 0;
        transition: 1s;
        // @media screen and (min-width: 900px) {
        //     display: flex;
        // }
    }
    &-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100%;
        object-fit: cover;
        opacity: 0.2;
        @media screen and (min-width: 900px) {
            width: 50%;
        }
    }
    &-text {
        margin-left: 20%;
        font-size: 20px;
        line-height: 30px;
        color: #fff;
        text-align: center;
    }
}

.hero-heading {
    color: #fff;
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300;
}

.home-section.active,
.project-section.active,
.about-section.active,
.contact-section.active {
    position: relative;
    opacity: 1;
    z-index: 8;
}

.project {
    &-section {
        width: 100%;
        min-height: 100vh;
        padding: 150px 100px 100px;
        position: fixed;
        top: 0;
        transition: 1s;
        opacity: 0;
    }
    &-heading {
        font-size: 100px;
        background: #e0e0e0;
        text-transform: capitalize;
        text-align: center;
        margin-bottom: 20px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-stroke: 8px transparent;
    }
    &-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px;
    }
    &-card {
        height: 400px;
        position: relative;
    }
    &-img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        transition: .5s;
    }
    &-content {
        position: relative;
        padding: 40px;
        color: #fff;
        transition: .5s;
        opacity: 0;
    }
    &-title {
        font-size: 50px;
        text-transform: capitalize;
        text-align: center;
        font-weight: 300;
    }
    &-info {
        margin: 40px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    &-btn-grp {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
    &-btn {
        height: 40px;
        text-transform: capitalize;
        font-size: 18px;
        border: none;
        background: #000;
        color: #fff;
        cursor: pointer;
    }
    &-btn.live {
        background: none;
        border: 2px solid #fff;
    }
    &-card:hover &-img {
        filter: blur(20px);
    }
    &-card:hover &-content {
        opacity: 1;
    }
}

small {
    line-height: 20%;
}


/* about-section */

.about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
    &-section {
        width: 100%;
        min-height: 100vh;
        padding: 150px 100px 0;
        position: fixed;
        top: 0;
        opacity: 0;
        transition: 1s;
    }
    &-img-container {
        position: relative;
    }
    &-info {
        color: #fff;
        opacity: 0.6;
        font-size: 20px;
        line-height: 40px;
    }
    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.download-cv-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer;
    transition: .5s;
    background: rgba(0, 0, 0, 0.5);
    &:hover {
        background: #000;
    }
}


/* timeline */

.timeline {
    display: block;
    width: 100%;
    margin: 150px auto;
    opacity: 0;
}

.timeline .heading {
    margin-bottom: 150px;
}

.card {
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -50px 0;
    position: relative;
    background: #f00;
    // @media screen and (min-width: 900px) {}
    &:nth-child(even) {
        margin-left: auto;
    }
    &:nth-child(even):before {
        content: '';
        position: absolute;
        left: -15%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #191919;
        border-radius: 50%;
    }
    &:nth-child(even):after {
        content: '';
        position: absolute;
        left: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: -1;
    }
    &:nth-child(odd):before {
        content: '';
        position: absolute;
        right: -13%;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border: 5px solid #191919;
        border-radius: 50%;
    }
    &:nth-child(odd):after {
        content: '';
        position: absolute;
        right: -8.5%;
        top: 50%;
        transform: translateY(-50%);
        width: 7%;
        height: 2px;
        background: #fff;
        z-index: -1;
    }
    &:nth-child(2),
    &:nth-child(2):before {
        background: #ff4f4f;
    }
    &:nth-child(3),
    &:nth-child(3):before {
        background: #ffb84f;
    }
    &:nth-child(4),
    &:nth-child(4):before {
        background: #3dca5c;
    }
    &:nth-child(5),
    &:nth-child(5):before {
        background: #565252;
    }
    &:nth-child(6),
    &:nth-child(6):before {
        background: #4fa0ff;
    }
    &:nth-child(even) &-body:before {
        content: '';
        position: absolute;
        left: -12%;
        top: 0;
        width: 0px;
        height: 100%;
        border: 1px dashed #fff;
        z-index: -1;
    }
    &-title {
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}